.banner-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    .left-section {
        max-width: 430px;
        width: 100%;
        position: absolute;
        top: 292.41px;
        left: 165px;
        z-index: 1;
        h1 {
            @include heading_one;
            span {
                color: $primary_color;
            }
        }
        h5 {
            @include heading_five;
            line-height: 30px;
            margin-top: 22px;
        }
        p {
            @include medium_text;
            margin-top: 20px;
            line-height: 28px;
            color: #425466;
        }
        .btn-wrapper {
            max-width: 344px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;
            a.loop-me-in {
                @include purple_button;
                text-align: center;
                padding: 19px 20px;
                max-width: 198px;
            }
        }
    }
}

.right-section {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    margin-bottom: 0;
    .video {
        width: 120px;
        height: 120px;
        position: absolute;
        top: 434px;
        left: 60%;
        // .video-wrapper {
        //     width: 94%;
        //     height: 94%;
        //     position: absolute;
        //     top: 49%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     border-radius: 15px;
        //     overflow: hidden;
        //     video {
        //         width: 100%;
        //         height: 100%;
        //     }
        // }
    }
    .play-btn {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
        cursor: pointer;
        text-align: center;
        img {
            width: 110px;
            height: 110px;
            object-fit: contain;
        }
        span {
            display: inline-block;
            font-size: 18px;
            line-height: 24.59px;
            font-weight: 800;
            font-family: $primary_font;
            color: $primary_color;
        }
    }
    .doodle {
        position: absolute;
    }
    .doodle-one {
        width: 96.44px;
        height: 95.18px;
        top: -70px;
        left: 75%;
    }
    .doodle-two {
        width: 60.8px;
        height: 60px;
        top: -85px;
        left: -110px;
        transform: rotate(-105deg);
    }
    .doodle-three {
        width: 70px;
        height: 70px;
        top: 150%;
        left: -116%;
        transform: rotate( -50deg);
    }
    video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-top: -107px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}